/*
    Import Custom Fonts
---------------------------------*/

@font-face {
    font-family: "ibm-bold";
	src: url("../fonts/IBMPlexMono/IBMPlexMono-Bold.ttf?") format("truetype");
}

@font-face {
    font-family: "ibm-semibold";
	src: url("../fonts/IBMPlexMono/IBMPlexMono-SemiBold.ttf?") format("truetype");
}

@font-face {
    font-family: "ibm-medium";
	src: url("../fonts/IBMPlexMono/IBMPlexMono-Medium.ttf?") format("truetype");
}

@font-face {
    font-family: "ibm-regular";
	src: url("../fonts/IBMPlexMono/IBMPlexMono-Regular.ttf?") format("truetype");
}

@font-face {
    font-family: "ibm-light";
	src: url("../fonts/IBMPlexMono/IBMPlexMono-Light.ttf?") format("truetype");
}

@font-face {
    font-family: "ibm-thin";
	src: url("../fonts/IBMPlexMono/IBMPlexMono-Thin.ttf?") format("truetype");
}