/*
    Set Custom Variables
---------------------------------*/

/* ----- Fonts ----- */

$ibmBold: "ibm-bold";
$ibmSemiBold: "ibm-semibold";
$ibmMedium: "ibm-medium";
$ibmRegular: "ibm-regular";
$ibmLight: "ibm-light";
$ibmThin: "ibm-thin";

/* ----- Colors ----- */

$defaultColor: #FFFFFF;
$titleColor: #13646A;
$labelColor: #185C63;
$buttonColor: #5FA79B;
$buttonColor2: #167C9D;
$textColor: #FE7836;

/* ----- Sizes ----- */

$titleSize: 2.625rem;
$labelSize: 1rem;
$buttonSize: 1.125rem;
$textSize: 1.25rem;